rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /audit_logs/{id} {
      allow read, write: if true;
    }

    match /requests/{requestId} {
      allow read, write: if true;
    }

    match /inventory/{itemId} {
      allow read, write: if true;
    }

    match /orders/{orderId} {
      allow read, write: if true;
    }

    match /categories/{categoryId} {
      allow read, write: if true;
    }

    match /settings/{settingId} {
      allow read, write: if true;
    }

    match /recurring_templates/{templateId} {
      allow read, write: if true;
    }
  }
}
